:root {
    --text-color: #f8f8ff;
    --background-color: #BB8FCE;
  }
  body{
    background-color: #BB8FCE;
  }
#wrapper{
    background-color: #BB8FCE;
    height:100vh;

}
* {
    margin: 0;
    padding:0;
}
a {
    text-decoration: none;
}
.nav {
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
    font-family: 'Source Sans Pro', sans-serif;
}
.logo {
   font-size: 15px;
   color: var(--text-color);
   text-align: center;
   display: inline-block;
   vertical-align: middle;
   
}
.h1_logo{
    margin: 10px;
    display: inline-block;  
    font-size: 20px;
}
.logo img{
    border-radius: 50%;;
    width: 100px; 
    height: 100px;
    margin:10px auto;
    float: left;
}
.menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    font-size: 20px;
}
.menu a{
    color: #f8f8ff;
}
.menu input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-right: 16px;
    font-size: 13px;
  }
.menu li {
    padding: 8px 12px;
}
.menu li:hover {
    background-color: var(--accent-color);
    border-radius: 4px;
}
button {
    border: none;
    display: inline-block;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    background-color: aliceblue;
    color: #1e6b7b;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
@media screen and (max-width: 768px) {
    .nav {
            flex-direction: column;
            align-items: flex-start;
            padding: 8px 24px;
    }
    .menu {
            display: none;
            flex-direction: column;
            align-items: center;
            width: 100%;
    }
    
    .menu a, .menu input[type=text]{
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .menu input[type=text]{
        border: 1px solid #ccc;
    }
    .menu li {
            width: 100%;
            text-align: center;
    }
    .navbar__menu.active {
        display: flex;
    }
}
#wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #E2B9EC;
}
/* ------------------------ */
#wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #E2B9EC;
}
.image-container{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-around;
    margin-left: 60px;
    overflow: hidden;
    width: 100%;
}
.image-container img {
    margin-right: 24px;
    margin-bottom: 20px;
    vertical-align: text-top;
    width:180px;
    height:80%;
    overflow: hidden;
}
.image-container a{
    padding: 10px;
    width: 100%;
}

/* ----------------------------- */
.container_my-5{
    background-color:#E2B9EC;
    margin: 50px 50px 50px;
    /* box-shadow: 0 0 10px 5px rgba(0,0,0,0.1); */
    width: 90%;
    height: 70%;
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;

}
.button_{
    margin: auto;
    justify-content:space-around;
    display: flex;
}
table {
    border-collapse: collapse;
    width: 100%;
    float: left;
     margin: 0 0 2em;
    }
thead{
    border-bottom: 3px solid;
}
th{
    padding: 0.35em 0.5em;
    font-weight: 400;
    text-align: center;
    font-size: 1.25em;
}
td{
    border: 3px solid;
    margin: 10px;
    height: 100px;
}