.main{
    width: 1000px;
    height: 100px;
    
    margin: auto;
    align-items:center;
    display: flex;
    
}
.main1{
    
    width: 1000px;
    background-color: rgba(255, 255, 255, 0.877);
    margin: auto;
    border-radius: 0.5cm;
    display: flex;
    
    
}
.home
{
    
    width: 500px;
    border: 1px solid;
    height: 20px;
    align-items: center;
    display: flex;
    margin-left: 250px;
    margin-right: 100px;
    background-color: rgba(255, 255, 255, 0.877);
    border-radius: 5cm;
}

ul
{
    position:relative;
    float: left;
    margin-left: 20px;
    align-items: center;
    display: flex;  
}

ul li 
{
    display: inline-block;
    margin: 0 10px;
    align-items: center;
    display: flex;  
    padding-left: 10px;
     
}

ul li a 
{
    text-decoration: none;
    color: Black;
    font-size: 17px; 
}
.zurag{
    width: 300px;
    padding-left: 80px;
    padding-top: 25px;
   
    
  
}
.location{
    padding-left: 25px;
    padding-top: 5px;
    
    width: 500px;

}
.about{
    width: 850px;
    line-height: 2;
    padding-left: 35px;
    margin: auto;
    display: flex;
    text-align: justify;
    word-spacing: 5px;
}
.activity{
    width: 900px;
    line-height: 2;
    padding-left: 80px;
    margin: auto;
    display: flex;
    text-align: justify;
    word-spacing: 5px;
  
}
.ac_zurag{
    width: 300px;
    padding-left: 40px;
    
    
}
.ac_text{
    width: 400px;
    line-height: 2;
    padding-left: 50px;
    margin: auto;
    display: flex;
    text-align: justify;
    word-spacing: 5px;
}
.contact{
    width: 900px;
    line-height: 2;
    padding-left: 80px;
    margin: auto;
    display: flex;
    text-align: justify;
    word-spacing: 5px;
}
.con-text{
    padding-left: 60px;
    text-align: center;
    width: 900px;
}
.button{
    justify-content: space-evenly;
}
.navbtn{
    padding-left: 20px;
    
}
.cancel{
    background-color: rgba(255, 255, 255, 0.877);
    border-radius: 5cm;
}
.li{
    margin-left: 33px;;
}
/* -------------------------------- */
:root {
    --text-color: #f8f8ff;
    --background-color: #BB8FCE;
  }
  body{
    background-color: #BB8FCE;
  }
#wrapper{
    background-color: #BB8FCE;
    height:100vh;

}
* {
    margin: 0;
    padding:0;
}
a {
    text-decoration: none;
}
.nav {
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
    font-family: 'Source Sans Pro', sans-serif;
}
.logo {
   font-size: 15px;
   color: var(--text-color);
   text-align: center;
   display: inline-block;
   vertical-align: middle;
   
}
.h1_logo{
    margin: 10px;
    display: inline-block;  
    font-size: 20px;
}
.logo img{
    border-radius: 50%;;
    width: 100px; 
    height: 100px;
    margin:10px auto;
    float: left;
}
.menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    font-size: 20px;
}
.menu a{
    color: #f8f8ff;
}
.menu input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-right: 16px;
    font-size: 13px;
  }
.menu li {
    padding: 8px 12px;
}
.menu li:hover {
    background-color: var(--accent-color);
    border-radius: 4px;
}